
<div id="msa-popup1" class="msa-overlay">  
  <div class="msa-popup">
    <h2 style="text-align: center;">Disclaimer</h2>
    <a class="msa-close" href="#">X</a>
    <div class="msa-content">
      <p>
        Under no circumstances shall authors of this website be liable for any indirect, incidental, consequential, special or exemplary damages arising out of or in connection with your access or use of or inability to access or use the web-site or any associated with it software and tools and any third party content and services, whether or not the damages were foreseeable and whether or not authors were advised of the possibility of such damages.
        If you are using this platform you agree to:
        <ul style="text-align: left;">
          <li>complete the review of a responsible genomic data use informational module prior to accessing the information;</li>
          <li>do not use Genomic summary results (GSR) to re-identify individuals or generate information that could allow participant’s identities to be readily ascertained;</li>
          <li>use GSR to promote scientific research or health.</li>
        </ul>
      </p>
      <p> 
        <b> By closing this window, you are considered informed about the terms of use of this resource! </b> 
      </p>  
    </div>
  </div>
</div>